---
interface Props {
	checkboxClassName?: string;
	className?: string;
	name: string;
	form?: string;
	checked?: boolean;
	id?: string;
}

const { className, checkboxClassName, id, form, name, checked } = Astro.props;
---

<span class:list={["checkbox", className]}>
	<input 
		id={id} 
		type="checkbox" 
		class:list={["checkbox__input", checkboxClassName]}
		form={form} 
		name={name} 
		checked={checked} 
	>
	<label for={id} class="checkbox__body">
		<span class="icon-checkbox-arrow checkbox__icon"></span>
	</label>
</span>