---
import Layout from 'src/layouts/Layout.astro'
const w1 = `<script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async is:inline>
								{
									"symbols": [
										[
											"BITSTAMP:BTCUSD|1M"
										]
									],
									"chartOnly": false,
									"width": "100%",
									"height": "100%",
									"locale": "en",
									"colorTheme": "light",
									"autosize": true,
									"showVolume": false,
									"showMA": false,
									"hideDateRanges": false,
									"hideMarketStatus": false,
									"hideSymbolLogo": false,
									"scalePosition": "right",
									"scaleMode": "Normal",
									"fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
									"fontSize": "10",
									"noTimeScale": false,
									"valuesTracking": "1",
									"changeMode": "price-and-percent",
									"chartType": "area",
									"maLineColor": "#2962FF",
									"maLineWidth": 1,
									"maLength": 9,
									"headerFontSize": "medium",
									"backgroundColor": "rgba(255, 255, 255, 0)",
									"lineWidth": 2,
									"lineType": 0,
									"dateRanges": [
										"1d|1",
										"1m|30",
										"3m|60",
										"12m|1D",
										"60m|1W",
										"all|1M"
									]
								}
              </script>`;
const w2 = `<script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-financials.js" async is:inline>
								{
									"isTransparent": false,
									"largeChartUrl": "",
									"displayMode": "regular",
									"width": "100%",
									"height": "100%",
									"colorTheme": "light",
									"symbol": "BITSTAMP:BTCUSD",
									"locale": "en"
								}
              </script>`;
const w3 = `<script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js" async is:inline>
              {
                "symbol": "BITSTAMP:BTCUSD",
                "width": "100%",
                "locale": "en",
                "colorTheme": "light",
                "isTransparent": false
              }
              </script>`;
const w4 = `<script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async is:inline>
              {
                "interval": "1m",
                "width": 425,
                "isTransparent": false,
                "height": 450,
                "symbol": "BITSTAMP:BTCUSD",
                "showIntervalTabs": true,
                "displayMode": "single",
                "locale": "en",
                "colorTheme": "light"
              }
              </script>`;
const w5 = `<script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-profile.js" async is:inline>
              {
              "width": 400,
              "height": 550,
              "isTransparent": false,
              "colorTheme": "light",
              "symbol": "BITSTAMP:BTCUSD",
              "locale": "en"
            }
              </script>`;
---
<Layout title="Крипто школа" description="Крипто школа">
  <div class="container container_wide crypto-article-page__container">
    <div class="breadcrumbs crypto-article-page__breadcrumbs">
      <a href="/" class="breadcrumbs__link">
        Головна
      </a>
      <div class="breadcrumbs__arrow">
        <span class="icon-nav-arrow-right"></span>
      </div>
      <a href="#" class="breadcrumbs__link">
        Криптовалюта
      </a>
      <div class="breadcrumbs__arrow">
        <span class="icon-nav-arrow-right"></span>
      </div>
      <a href="#" class="breadcrumbs__link breadcrumbs__link_active">
        Bitcoin (Биткоин)
      </a>
    </div>

    <div class="crypto-article crypto-article-page__article">
      <div class="crypto-article__header">
        <div class="crypto-article__center">
          <div class="crypto-article__chart">
            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container">
              <div class="tradingview-widget-container__widget"></div>
              <Fragment set:html={w1}></Fragment>
            </div>
            <!-- TradingView Widget END -->
          </div>
          <div class="crypto-article__statistics">
            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container">
              <div class="tradingview-widget-container__widget"></div>
							<Fragment set:html={w2}></Fragment>
            </div>
            <!-- TradingView Widget END -->
          </div>
        </div>
        <div class="crypto-article__sidebar">
          <div class="crypto-article__price">
            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container">
              <div class="tradingview-widget-container__widget"></div>
							<Fragment set:html={w3}></Fragment>
            </div>
            <!-- TradingView Widget END -->
          </div>
          <div class="crypto-article__analysis">
            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container">
              <div class="tradingview-widget-container__widget"></div>
							<Fragment set:html={w4}></Fragment>
            </div>
            <!-- TradingView Widget END -->
          </div>
          <div class="crypto-article__profile">
            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container">
              <div class="tradingview-widget-container__widget"></div>
              <Fragment set:html={w5}></Fragment>
            </div>
            <!-- TradingView Widget END -->
          </div>
        </div>
      </div>
      <div class="account-article-content crypto-article__content">
        <div class="account-article-content__block">
          <h5 class="h6 account-article-content__title account-article-content__title_primary">Bitcoin (Биткоин)</h5>

          <p class="text-small account-article-content__text">
            Биткоин это полностью децентрализованная цифровая криптовалюта. 
            В отличие от Рубля или Доллара США, которые можно потрогать руками 
            (или увидеть на банковском счету), не существует единого органа или 
            центрального банка, контролирующего биткоин. Вместо этого Биткоин 
            работает в одноранговой (peer-to-peer) сети, позволяющей любому 
            пользователю отправлять и получить Биткоин без посредников 
            (таких как банки, центральный банк и платежная система).
          </p>
          <p class="text-small account-article-content__text">
            Тысячи криптовалют сегодня представлены в рейтинге coinmarketcap, 
            но Биткоин был самой первой из них. 31 Октября 2008 был опубликован 
            ставший теперь уже легендарным Биткоин white paper, подписанный 
            “Сатоши Накомото” (“Satoshi Nakamoto”). Кто именно стоит за этим 
            псевдонимом неизвестно до сих пор. Первая строка текста гласит: 
            “Полностью децентрализованная версия электронных денег, которая 
            позволит отправлять электронные платежи напрямую от одного 
            пользователя другому без участия финансовых институтов”
          </p>
        </div>

        <div class="account-article-content__block account-article-content__definition account-article-content__definition_primary">
          Абстракция аккаунта - это процесс облегчения взаимодействия пользователей с 
          блокчейном через кастомизацию определенных элементов учетных записей смарт-контрактов.
        </div>

        <div class="account-article-content__block">
          <h5 class="h6 account-article-content__title account-article-content__title_primary">Bitcoin (Биткоин)</h5>

          <p class="text-small account-article-content__text">
            Биткоин это полностью децентрализованная цифровая криптовалюта. 
            В отличие от Рубля или Доллара США, которые можно потрогать руками 
            (или увидеть на банковском счету), не существует единого органа или 
            центрального банка, контролирующего биткоин. Вместо этого Биткоин 
            работает в одноранговой (peer-to-peer) сети, позволяющей любому 
            пользователю отправлять и получить Биткоин без посредников 
            (таких как банки, центральный банк и платежная система).
          </p>
          <p class="text-small account-article-content__text">
            Тысячи криптовалют сегодня представлены в рейтинге coinmarketcap, 
            но Биткоин был самой первой из них. 31 Октября 2008 был опубликован 
            ставший теперь уже легендарным Биткоин white paper, подписанный 
            “Сатоши Накомото” (“Satoshi Nakamoto”). Кто именно стоит за этим 
            псевдонимом неизвестно до сих пор. Первая строка текста гласит: 
            “Полностью децентрализованная версия электронных денег, которая 
            позволит отправлять электронные платежи напрямую от одного 
            пользователя другому без участия финансовых институтов”
          </p>
        </div>

        <div class="account-article-content__block account-article-content__images">
          <img src="./assets/img/temp/crypto-article-placeholder.png" alt="">
        </div>
      </div>
    </div>

    <div class="crypto-article-page__recommendations-header">
      <h4 class="h4 color-primary crypto-article-page__recommendations-title">Статті за темою</h4>

      <div class="crypto-article-page__recommendations-slider-controls">
        <div class="slider-control slider-control-left" data-slider-for="recommendations-slider" data-slider-control-left>
          <span class="icon-nav-arrow-left"></span>
        </div>
        <div class="slider-control slider-control-right" data-slider-for="recommendations-slider" data-slider-control-right>
          <span class="icon-nav-arrow-right"></span>
        </div>
      </div>
    </div>

    <div class="slider crypto-article-page__recommendations" data-slider="recommendations-slider">
      <div class="slider__slides" data-slider-for="recommendations-slider" data-slider-slides>
        <div class="blog-article-card">
          <div class="blog-article-card__image">
            <img src="./assets/img/temp/blog-article-placeholder.png">
          </div>
          <div class="blog-article-card__body">
            <div class="blog-article-card__title text">
              22 идеи подарков для криптоэнтузиаста: для всех праздников и...
            </div>
            <div class="blog-article-card__text text-small">
              Рынки предсказаний стали одним из главных трендов 2024 года. Так, Polymarket удалось привлечь ставок на общую сумму...
            </div>
          </div>
          <div class="blog-article-card__footer">
            <button class="blog-article-card__button text-small">
              Читать статью
            </button>
          </div>
        </div>
  
        <div class="blog-article-card">
          <div class="blog-article-card__image">
            <img src="./assets/img/temp/blog-article-placeholder.png">
          </div>
          <div class="blog-article-card__body">
            <div class="blog-article-card__title text">
              22 идеи подарков для криптоэнтузиаста: для всех праздников и...
            </div>
            <div class="blog-article-card__text text-small">
              Рынки предсказаний стали одним из главных трендов 2024 года. Так, Polymarket удалось привлечь ставок на общую сумму...
            </div>
          </div>
          <div class="blog-article-card__footer">
            <button class="blog-article-card__button text-small">
              Читать статью
            </button>
          </div>
        </div>
  
        <div class="blog-article-card">
          <div class="blog-article-card__image">
            <img src="./assets/img/temp/blog-article-placeholder.png">
          </div>
          <div class="blog-article-card__body">
            <div class="blog-article-card__title text">
              22 идеи подарков для криптоэнтузиаста: для всех праздников и...
            </div>
            <div class="blog-article-card__text text-small">
              Рынки предсказаний стали одним из главных трендов 2024 года. Так, Polymarket удалось привлечь ставок на общую сумму...
            </div>
          </div>
          <div class="blog-article-card__footer">
            <button class="blog-article-card__button text-small">
              Читать статью
            </button>
          </div>
        </div>
  
        <div class="blog-article-card">
          <div class="blog-article-card__image">
            <img src="./assets/img/temp/blog-article-placeholder.png">
          </div>
          <div class="blog-article-card__body">
            <div class="blog-article-card__title text">
              22 идеи подарков для криптоэнтузиаста: для всех праздников и...
            </div>
            <div class="blog-article-card__text text-small">
              Рынки предсказаний стали одним из главных трендов 2024 года. Так, Polymarket удалось привлечь ставок на общую сумму...
            </div>
          </div>
          <div class="blog-article-card__footer">
            <button class="blog-article-card__button text-small">
              Читать статью
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>